@use "../../../styles/variables" as v;

.login-page{
    background-color: v.$primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-wraper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;

    img{
        max-width: 100%;
        padding: 10px;
    }
}

.login-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 3% 20%;
    padding: 3% 5%;
    gap: 30px;

    button{
        margin-top: 15px;
        width: 100%;
    }
}

footer{
    flex-grow: 1;
    background-image: url("/assets/products.png");
}

@media(max-width:580px) {
    .logo-wraper{
        img{
            width: 300px;
        }
    }
}