<app-header></app-header>
<div class="container">
    <table class="table table-striped  mt-3">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (product of products$ | async; track product) {
                <tr>
                    <td>
                        <div class="info-wraper">{{product.name}}</div></td>
                    <td>
                        <div class="info-wraper">{{ product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</div></td>
                    <td>
                        <div class="actions-wraper">
                            <button class="btn btn-link">Ver Mais</button>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </div>     
                    </td>
                </tr>
            }  
        </tbody>
    </table>
</div>

